<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
    <div style="padding:0px;margin:auto;text-align: center; width:50%">
        
<form method="post" action="" id="the-form" style="margin:auto;text-align: center; width:50%">
        <h1>Edit User</h1>
    <table cellpadding="11">
    <tr>
        <td class="label">Name</td><td>: <input type="text" name="name" value="<%=data[0].name%>"></td>
     </tr>
    <tr>
        <td class="label">Email</td><td>: <input type="text" name="email" value="<%=data[0].email%>"></td>
     </tr>
      <tr>
        <td class="label">Password</td><td>: <input type="password" name="password" value="<%=data[0].password%>"></td>
     </tr>
     <tr>
        <td class="label"></td>
        <td>
            &nbsp; <input type="button" value="Save" onClick="saveUser()">
        </td>
     </tr>
    </table>
</form>
</div>
 <script>
    
        function saveUser(){
           
           $.ajax({
            
            url:"/user/"+<%=data[0].user_id%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.href = '/user';
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
           });
        }
    
    </script>
</body>
</html>
