<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
    <div style="padding:0px;margin:auto;text-align: center; width:50%">
        
<form method="post" action="" id="the-form" style="margin:auto;text-align: center; width:50%">
        <h1>User Login</h1>
    <table cellpadding="11">
    <tr>
        <td class="label">Email</td><td>: <input type="text" name="email" value=""></td>
     </tr>
      <tr>
        <td class="label">Password</td><td>: <input type="password" name="password" value=""></td>
     </tr>
     <tr>
        <td class="label"></td>
        <td>
            <a href="/register" >Register Here</a>  &nbsp; <input type="button" value="Login" onClick="login()">
        </td>
     </tr>
    </table>
</form>
</div>
<div class="page-data">
    <ul class="err-area"></ul>
</div>
 <script>
    
        function login(){
           
           $.ajax({
            url:"/login",
            type:"post",
            data:$("#the-form").serialize(),
            success:function(res){
                console.log(res);
                if(res == 'OK') {
                    window.location.href = '/user';
                } else {
                    var err = '';  
                    err +='<li>Invalid Details.</li>';
                    $(".err-area").html(err);
                }
    //            ;
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);  
                return false;
            }
            
           });
        }
    
    </script>
</body>
</html>
