<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
    <div style="padding:0px;margin:auto;text-align: center; width:50%">
        
        <form method="post" action="" id="the-form" enctype="multipart/form-data" style="margin:auto;text-align: center; width:50%">
    <h1>Register</h1>

        <table cellpadding="11">
        <tr>
            <td class="label">Name</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr>
            <td class="label">Email</td><td>: <input type="text" name="email"></td>
         </tr>
          <tr>
            <td class="label">Password</td><td>: <input type="password" name="password"></td>
         </tr>
         <tr>
             <td class="label">Upload Image</td><td>: <input type="file" name="myfile"></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
                <a href="/" >Login</a>&nbsp; <input type="button" value="Save" onClick="saveUser()">
            </td>
         </tr>
        </table>
    </form>
</div>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function saveUser(){
       
       $.ajax({
        
        url:"/user",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
           // window.location.href = "/";
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }

</script>
</body>
</html>
